class BrowserControl < Formula
  desc "CLI for browser lifecycle and CDP/BiDi access for agent-driven dev"
  homepage "https://github.com/rickardp/browser-control"
  version "__VERSION__"
  license "MIT"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/rickardp/browser-control/releases/download/v__VERSION__/browser-control-macos-aarch64.tar.gz"
      sha256 "__SHA_MACOS_AARCH64__"
    else
      url "https://github.com/rickardp/browser-control/releases/download/v__VERSION__/browser-control-macos-x86_64.tar.gz"
      sha256 "__SHA_MACOS_X86_64__"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "https://github.com/rickardp/browser-control/releases/download/v__VERSION__/browser-control-linux-aarch64.tar.gz"
      sha256 "__SHA_LINUX_AARCH64__"
    else
      url "https://github.com/rickardp/browser-control/releases/download/v__VERSION__/browser-control-linux-x86_64.tar.gz"
      sha256 "__SHA_LINUX_X86_64__"
    end
  end

  def install
    bin.install "browser-control"
  end

  test do
    assert_match "browser-control", shell_output("#{bin}/browser-control --version")
  end
end
